<div class = "Header">
    <span><img src="assets/images/logo.png" alt="" width="140"></span>
    <p class = "Homepage">HOMEPAGE</p>
    <p class = "Forum">FORUM</p>
    <p class = "SavedPosts">SAVED POSTS</p>
    <p class="AboutUs" (click)="navigateToAnotherPage()">ABOUT US</p>
</div>

<div class = "addPost">
    <button class = "btn addPostBtn">+ Add Post</button> 
</div>

<div class = "blogPost">
   <app-blog-post></app-blog-post>
</div>

<div class = "showMore">
    <button class = "btn showMoreBtn">Show More</button> 
</div>


<div class = "Footer">
    <span><img src="assets/images/logo.png" alt="" width="140"></span>
</div>





