.Header{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #032B1A;
    padding: 10px;
    width: 100%;
}

.Homepage{
    position: absolute;
    width: 100%;
    height: 28px;
    left:389px;
    top: 28px;
    color: white;
}

.Forum{
    position: absolute;
    width: 66px;
    height: 28px;
    left: 582.5px;
    top: 28px;
    color: white;
}

.SavedPosts{
    position: absolute;
    width: 125px;
    height: 28px;
    left: 740.5px;
    top: 28px;
    color: white;
}

.AboutUs{
    position: absolute;
    width: 125px;
    height: 28px;
    left: 957px;
    top: 28px;
    color: white;
}

.addPostBtn{
        position: relative;
        width: 100px;
        height: 28px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        top: 135px;
        color: #DDB390;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
}

.addPostBtn:hover{
    position: relative;
        width: 100px;
        height: 28px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        top: 135px;
        justify-content: center;
        align-items: center;
        color: #237250;
        border: none;
        background-color: transparent;
}

.blogPost{
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 175px;
    width: 100%;
    height: 1503px;
    left: 83px;   
    bottom:6px;
}

.showMoreBtn{
    position: relative;
    width: 100px;
    height: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top:1470px;
    color: #DDB390;
    background-color: #FFFFFF;
    border: 1px solid #DDB390;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.showMoreBtn:hover{
    position: relative;
    width: 100px;
    height: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top:1470px;
    color: #DDB390;
    background-color: #E8F0B6;
    border: 2px solid #DDB390;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.showMoreBtn:focus{
    position: relative;
    width: 100px;
    height: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top:1470px;
    color: #FFFFFF;
    background-color: #DDB390;
    border: 1px solid #DDB390;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.Footer{
    position: absolute;
    top: 1700px;
    left: 0%;
    background-color: #032B1A;
    padding: 10px;
    width: 100%;
}




