<div class="mr-0 ml-0 mt-2  md:mt-5  " style="margin-top: 2.06rem;">
    <span><img src = "assets/images/aboutUsImg.jpg" class = "w-screen height-35rem" style="margin-bottom: 2.06rem;"></span>   
    </div>   
    <hr class="h-0.18rem">
    <div class="h-35rem w-screen bg-lightPink" style="margin-bottom: 2.06rem;">
        <div class="h-full flex justify-center items-center">
            <div class="text-left">
                <h6 class="text-2xl lg:text-7 font-bold text-white" style="margin: 6.06rem 6.06rem 2.62rem 6.06rem;">Welcome to Thread and Needle!</h6>
                <p class="text-2xl lg:text-5 font-normal text-white" style="margin: 0 6.06rem 6.06rem 6.06rem;">
                    <br>At Thread and Needle, we believe fashion design and sewing as authentic forms of creativity and self-expression rather than simply hobbies.
                    <br><br>We are an online community dedicated to unite people who share a passion for fashion design and sewing. Whether you're a beginner taking your first steps into the world of sewing or an experienced user looking to expand your skills, you are welcome here. 
                    <br><br><br>Join us today and learn, connect and create together with an enthusiastic community. Unleash your creativity and improve your sewing abilities with the help of detailed tutorials and lively forums.
                </p>
        </div>

        
