<div class = "Header">
    <span><img src="assets/images/logo.png" alt="" width="140"></span>
    <p class = "Homepage">HOMEPAGE</p>
    <p class = "Forum">FORUM</p>
    <p class = "SavedPosts">SAVED POSTS</p>
    <p class = "AboutUs">ABOUT US</p>
</div>

<div class = "AboutUs">
    <span><img src = "assets/images/aboutUsImg.jpg" width = "1442px" height = "560px"></span>
    <p class = "Slogan">Unravel Your Creative Threads</p>
    <h4 class = "Welcome">Welcome to Thread and Needle!</h4>
    <p class = "About">At Thread and Needle, we believe fashion design and sewing as 
        authentic forms of creativity and self-expression rather than simply hobbies. 
        We are an online community dedicated to unite people who share a passion for 
        fashion design and sewing. Whether you're a beginner taking your first steps 
        into the world of sewing or an experienced user looking to expand your skills, 
        you are welcome here. Join us today and learn, connect and create together with 
        an enthusiastic community. Unleash your creativity and improve your sewing abilities 
        with the help of detailed tutorials and lively forums.</p>
</div>



<div class = "Footer">
    <span><img src="assets/images/logo.png" alt="" width="140"></span>
</div>