<section class="vh-100 d-flex justify-content-center align-items-center" style="background-color: white">
  <div class="container py-5">
    <div class="row">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; border-top-right-radius: .25rem; border-bottom-right-radius: .25rem;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                alt="Avatar" class="img-fluid my-5" style="width: 120px;" />
              <h3>MiaTutorials</h3>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6 class="text-lightGreen font-semibold">Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6 class="text-lightGreen"><br>Email</h6>
                    <p class="text-muted text-darkGreen font-semibold">mia_tutorials@gmail.com</p>
                    <small><a href="#" class="text-gray-500">Edit</a></small>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 class="text-lightGreen"><br>Username</h6>
                    <p class="text-muted text-darkGreen font-semibold">MiaTutorials</p>
                    <small><a href="#" class="text-gray-500">Edit</a></small>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 class="text-lightGreen"><br>Password</h6>
                    <p class="text-muted text-darkGreen font-bold">********</p>
                    <small><a href="#" class="text-gray-500">Edit</a></small>
                  </div>
                </div>
                <h6></h6>
                <hr class="mt-0 mb-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
