<div style="background-color: white;">
  <div
    style="background-color: rgb(185, 243, 191); padding: 10px; margin-top: 15px; margin-bottom: 2.25rem; margin-left: 5.12rem; margin-right: 5.12rem; display: flex; align-items: center; justify-content: space-between;">
    <h2 style="color: darkGreen text-bold;">How to Cinch in a big dress By SewErna</h2>
  </div>

  <div style="padding: 10px;">
    <p style="color: darkGreen; margin: 0 5.12rem;">Do you own a lovely dress that you feel is a touch too baggy or
      shapeless? Stop letting it sit there collecting dust! You can make that big dress into a gorgeous piece that
      highlights your curves and flatters your body by using a simple technique known as cinching. In this guide, I will
      show you exactly how to cinch in a huge dress so you can make it distinctively yours.</p>
    <p style="color: darkGreen; margin: 0 5.12rem;"><br>To do this you will need:<br>
      1. Dress of your choice. It needs to be at least a bit big for you in order to cinch it!<br>
      2. Thread - try to find matching one. In order for this to be as seamless as possible, it would be the best for
      the thread to be the <br>exact colour of your fabric. If you do not have it, there is a tutorial on my profile on
      how to merge multiple threads into one to get <br>the perfect shade for you.<br>
      3. You will obviously need a needle. It is important to choose the right needle for your fabric, as well for the
      thread you are using. On<br> every thread, you can find information on what thickness of needle you should
      use.<br>
      4. Scissors<br>
      5. Measuring tape<br>
      6. Some pins or markers are really helpful as well!<br></p>
    <p style="color: darkGreen; margin: 0 5.12rem;"><br>Now we can finally start sewing.</p>
    <h3 style="color: darkGreen; margin: 0 5.12rem;"><br>Step 1: Get Right Measurements</h3>
    <p style="color: darkGreen; margin: 0 5.12rem;">The best way to do this is to use the tape measure and measure your
      bust size, stomach area, and waist.</p>
    <p style="color: darkGreen; margin: 0 5.12rem;">Turn the dress inside out and pin it according to the measures you
      previously calculated.</p>
    <p style="color: darkGreen; margin: 0 5.12rem;">If you want to be 100% sure this is the right size for you, try it
      on still inside out. Try not to hurt yourself with pins!</p>



    <h3 style="color: darkGreen; margin: 0 5.12rem;"><br><br>Step 2: Create Darts</h3>
    <p style="color: darkGreen; margin: 0 5.12rem;">A dart is a fabric fold that gives shape and contour. It works
      particularly well to cinch fabric without the use of elastic.</p>
    <p style="color: darkGreen; margin: 0 5.12rem;">Before you actually start sewing, make sure that the dress is
      completely flat.</p>
    <p style="color: darkGreen;margin: 0 5.12rem;">Fold the dress along the defined lines on the wrong side of the
      fabric, pulling the extra fabric in towards the middle.</p>
    <p style="color: darkGreen;margin: 0 5.12rem;">To create a tapering form that gradually draws in the fabric, pin the
      fold into position.<br><br></p>


    <h3 style="color: darkGreen; margin: 0 5.12rem;"><br>Step 3: Make sure everything looks right</h3>
    <p style="color: darkGreen; margin: 0 5.12rem;">Before finishing up the dress, try it one more time. If you are not
      satisfied with the fit, you can seam rip the darts you just made and create new ones. You can repeat this process
      until you are satisfied with the fit.</p>
    <p style="color: darkGreen; margin: 0 5.12rem;">After you make sure the dress fits you perfectly, you can then,
      using a straight stitch, sew down the pinned fold, thinning the seam as you get to the end of the dart.</p>
    <p style="color: darkGreen; margin: 0 5.12rem;">To straight stitch: Hold your threaded needle in place on the
      fabric's wrong side exactly where you want to create a straight stitch. The needle's point should be pushed
      through the fabric and up. Pull it straight up and continue doing so until the knot snags on the fabric's reverse.
      Through the fabric, softly draw the thread.<br><br></p>


    <h3 style="color: darkGreen; margin: 0 5.12rem;"><br>Step 4: Last Step</h3>
    <p style="color: darkGreen; margin: 0 5.12rem;">Trim any extra fabric and thread while taking care not to sever the
      stitches. Use an iron to give the dress one last press while adhering to the fabric's care recommendations.</p>
    <p style="color: darkGreen; margin: 0 5.12rem; margin-bottom: 30px;">Good luck and have fun!</p>
  </div>
</div>