<div class = "post">
    <h4 class = "title">How to cinch in a Big Dress<br>By SewErna</h4>
    <p class = "description">For this tutorial you will need thread, needle, scissors and a measuring tape. 
        Quick and simple tutorial for beginners. This is a beginner friendly tutorial, 
        and really easy to follow. Don’t worry, even if you have no experience with sewing, 
        I guarantee you will be able to follow this tutorial completely!</p>
    <span class = "blogImage">
        <img src="assets/images/blogPostImg.jpg" width = "290px" height = "191px">
    </span>
</div>

<div class = "post2">
    <h4 class = "title">How to cinch in a Big Dress<br>By SewErna</h4>
    <p class = "description">For this tutorial you will need thread, needle, scissors and a measuring tape. 
        Quick and simple tutorial for beginners. This is a beginner friendly tutorial, 
        and really easy to follow. Don’t worry, even if you have no experience with sewing, 
        I guarantee you will be able to follow this tutorial completely!</p>
    <span class = "blogImage">
        <img src="assets/images/blogPostImg.jpg" width = "290px" height = "191px">
    </span>
</div>

<div class = "post3">
    <h4 class = "title">How to cinch in a Big Dress<br>By SewErna</h4>
    <p class = "description">For this tutorial you will need thread, needle, scissors and a measuring tape. 
        Quick and simple tutorial for beginners. This is a beginner friendly tutorial, 
        and really easy to follow. Don’t worry, even if you have no experience with sewing, 
        I guarantee you will be able to follow this tutorial completely!</p>
    <span class = "blogImage">
        <img src="assets/images/blogPostImg.jpg" width = "290px" height = "191px">
    </span>
</div>

<div class = "post4">
    <h4 class = "title">How to cinch in a Big Dress<br>By SewErna</h4>
    <p class = "description">For this tutorial you will need thread, needle, scissors and a measuring tape. 
        Quick and simple tutorial for beginners. This is a beginner friendly tutorial, 
        and really easy to follow. Don’t worry, even if you have no experience with sewing, 
        I guarantee you will be able to follow this tutorial completely!</p>
    <span class = "blogImage">
        <img src="assets/images/blogPostImg.jpg" width = "290px" height = "191px">
    </span>
</div>

