.post{
    position: absolute;
    width: 1280px;
    height: 315px;
    background-color: #DDB390;
    left: 20px;
    top: 20px;
}

.post2{
    position: absolute;
    width: 1280px;
    height: 315px;
    background-color: #DDB390;
    left: 20px;
    top: 345px;
}

.post3{
    position: absolute;
    width: 1280px;
    height: 315px;
    background-color: #DDB390;
    left: 20px;
    top: 670px;
}

.post4{
    position: absolute;
    width: 1280px;
    height: 315px;
    background-color: #DDB390;
    left: 20px;
    top: 995px;
}

.post:hover{
    background-color: #237250;
}

.post2:hover{
    background-color: #237250;
}

.post3:hover{
    background-color: #237250;
}

.post4:hover{
    background-color: #237250;
}

.title{
    position: absolute;
    width: 804px;
    height: 60px;
    left: 414px;
    top: 62px;
    color: white;
}

.description{
    position: absolute;
    width: 793px;
    height: 119px;
    left: 414px;
    top: 148px;
    color: white;
}

.blogImage{
    position: absolute;
    left: 62px;
    top: 62px;
}